<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">    
    <link rel="stylesheet" type="text/css" href="css/adminPage.css">    
</head>
<body>
  <hgroup>
    <h1>Login As Admin</h1>   
  </hgroup>
  <form>
    <div class="group">
      <input type="text"><span class="highlight"></span><span class="bar"></span>
      <label>Name</label>
    </div>
    <div class="group">
      <input type="email"><span class="highlight"></span><span class="bar"></span>
      <label>Email</label>
    </div>
    <button type="button" class="button buttonBlue">login
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
  </form>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

 <script type="text/javascript" src="js/adminPage.js"></script> 
</body>
</html>