<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/jk-carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/all-font.css">
    <link rel="stylesheet" type="text/css" href="css/all-images.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">    
</head>
<body ng-app="homeModule">
    <!-- Navigation menu -->
    <div ng-controller="homeController" layout="column" layout-fill="layout-fill" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav()" class="md-icon-button">
                    <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
                </md-button>
                <h3>Restaurant Supplies</h3>
                <div hide-xs show-gt-sm flex layout-align="center center" class="SearchBox">
                    <md-input-container md-no-float class="md-block searchinput">                           
                        <input ng-model="searchText" placeholder="Search products.." ng-change="searchProducts()">
                    </md-input-container>
                </div>
                <div flex="15" layout="row" >
                    <md-menu>
                        <md-button aria-label="Open cart menu" class="md-icon-button" ng-click="openCartMenu($mdOpenMenu, $event)">
                            <i class="material-icons">shopping_cart</i>
                        </md-button>
                        <md-menu-content width="6">
                            <md-menu-item>
                                <md-button ng-click="redial($event)">
                                    <md-icon md-svg-icon="" md-menu-align-target></md-icon>
                                    Redial
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>               
                        <md-button aria-label="Open profile options menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <i class="material-icons">person</i>                            
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="redial($event)">
                                    <md-icon md-svg-icon="" md-menu-align-target></md-icon>
                                    Redial
                                </md-button>
                            </md-menu-item>                 
                            <md-menu-item>
                                <md-button ng-click="redial($event)">
                                    <md-icon md-svg-icon="" md-menu-align-target></md-icon>
                                    Redial
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="redial($event)">
                                    <md-icon md-svg-icon="" md-menu-align-target></md-icon>
                                    Redial
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>                              
            </div>          
        </md-toolbar>
        <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
            <md-list>
                <md-list-item ng-repeat="item in list" md-ink-ripple="#3F51B5" class="pointer">
                    <md-icon aria-label="{{item.label}}" class="material-icons"><img ng-src="{{item.icon}}"></md-icon>
                    <a href="{{item.link}}">{{item.name}}</a>
                </md-list-item>
            </md-list>
        </md-sidenav> <!-- sidenav ends here -->
        <div ng-view></div>
    </div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="js/jk-carousel.min.js"></script>
<script type="text/javascript" src="homeModule.js"></script>
<!-- for the Home page -->
<script type="text/javascript" src="services/homeServices.js"></script>
<script type="text/javascript" src="controller/indexPageController.js"></script>
<!-- for the products page -->
<script type="text/javascript" src="services/productsPageService.js"></script>
<script type="text/javascript" src="controller/productPageController.js"></script>
<script type="text/javascript" src="directives/productDirective.js"></script>
<script type="text/javascript" src="directives/suggestedProductDirective.js"></script>
<!-- for the product Description page -->
<script type="text/javascript" src="services/productDescService.js"></script>
<script type="text/javascript" src="controller/productDescController.js"></script>
<script type="text/javascript" src="directives/productDescDirective.js"></script>
<!-- for the checkout page -->
<script type="text/javascript" src="services/checkoutService.js"></script>
<script type="text/javascript" src="controller/checkoutController.js"></script>
</body>
</html>