<style type="text/css">
	.filter-card md-card-header{padding:4px 16px}
	.filter-icon{padding-left:20px}
	md-card md-card-title md-card-title-text:only-child .md-subhead{padding-top:0px}
	md-list-item.md-no-proxy{padding-left:0}
	.productPageBannerImage{width:100%;max-height:300px}
</style>
<div lauout="column">		
	<img ng-src="images/productPageBannerImg.jpg" class="productPageBannerImage" alt="Banner Image">
</div>
<div layout="column" layout-gt-xs="row" ng-app="homeModule" ng-controller="productPageController">
	<div flex="20">
		<div layout="column">
 			<md-card class="filter-card">
		        <md-card-header>			          
		          <md-card-header-text layout="row">
		            <span class="md-title">By Price Range</span>
		            <span class="filter-icon"><i class="material-icons">filter_list</i></span>
		          </md-card-header-text>
		        </md-card-header>
		        <md-card-content>
		          <md-slider md-discrete ng-model="myDiscreteValue" step="50" min="100" max="500"></md-slider>	          
		        </md-card-content>
            </md-card>
        </div>
	</div> <!--- filter Section ends -->
	<div flex="60">			
		<all-products p-list="productList"></all-products>			
	</div>  <!--- products Section ends -->
	<div flex="20">
	   <suggested-products sugg-list="suggestedProductList"></suggested-products>
	</div> <!--- offers Section ends -->
</div>
